# RewriteEngine On

# Disabled temporarily for testing
# RewriteCond %{ENV:REDIRECT_STATUS} ^$
# RewriteCond %{REQUEST_URI} !^/ambit/doc/loadsave\.php
# RewriteRule ^(.+)$ loadsave.php?doc=$1 [L,QSA]
