RewriteEngine On

# Prevent the rewrite rule from looping on itself
RewriteCond %{REQUEST_URI} !/loadsave\.php$

# Rewrite any request to a file in this directory to the loadsave.php script,
# passing the original filename in the 'doc' parameter.
RewriteRule ^(.*)$ loadsave.php?doc=$1 [L,QSA]
